@import '../../assets/scss/colors';
$lato: 'Lato', sans-serif;
header {
    background-color: $orange;
    display: flex;
    font-family: $lato;
    font-weight: 600;
    padding: 1rem;
    justify-content: center;
    color: $white;
    font-size: 1.5rem;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: $black; 
    color: $yellow;
    margin-top: 0.7rem;
   > a {
       color: $yellow;
       font-family: $lato;
       margin: 0.7rem;
       i {
        display: inline-block;
        padding: 3px;
        border: solid $yellow;
        border-width: 0 3px 3px 0;
      }
      
      .icon-right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      
      .icon-left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
 
   }
}
.flex-container{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    >.color-item {
        font-family: monospace;
        color: $white;
        width: 445px;
        height: auto;
        border-radius: .4rem;
        background-color: #73099c;
        padding: .6rem;
        margin-top: .7rem;
        
        >.color-item__container{
            padding: 1.1rem 0rem;
            >.color-item__hex, >.color-item__name{
                display: flex;
                justify-content: center;
                font-size: 1.4rem;
                margin-bottom: -.5rem;
            }
        }
        >.color-item__hex {
            font-weight: 600;
        }
        >.color-item__year, >.color-item__pantone {
            font-size: 1rem;
        }
        >.color-item__pantone{
            display: flex;
            justify-content: flex-end;
        }
    }
}
    