<div class="container-fluid">
    <header>{{title}}</header>
    <div class="container-flex">

        <div class="color-item" *ngFor="let color of colors | paginate: { itemsPerPage: perPage, currentPage: page, totalItems: total } ">
{{color.per_page}}
            <span class="color-item__year">
      {{color.year}}
      </span>
            <div class="color-item__container" (click)="clickEvent()">
                <div class="color-item__name">{{color.name}}</div>
                <div class="color-item__hex" [ngClass]="status ? 'zoom' : '' "><button (click)="copyColor(color.color)" data-toggle="tooltip" data-placement="top" title="{{msg}}">{{color.color}}</button>
                </div>
            </div>
            <span class="color-item__pantone">{{color.pantone_value}}</span>
        </div>

    </div>
    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
        <pagination-controls (pageChange)="getListColors($event)"></pagination-controls>

    <footer><a href="" class="paginator-left" (click)="clickBefore()"><i class="icon-left"></i> Anterior</a> <a href="" class="paginator-right" (click)="clickAfter()">Siguiente <i class="icon-right"></i></a></footer>
</div>
