/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import './assets/scss/colors';
body {
    background-color: $gray !important ;
}
.container-fluid {
    padding-right:0 !important;
    padding-left:0 !important;
    margin-right:auto;
    margin-left:auto
}